//Colors
$alice-blue: rgba(235, 249, 255, 1);
$blaze-orange: rgba(255, 109, 0, 1);
$cyber-yellow: rgba(252, 209, 42, 1);
$oxford-blue: rgba(1, 36, 84, 1);
$USAFA-blue: rgba(4, 78, 165, 1);

//Typography

//Font-families
$font-1: 'Montserrat';
$font-2: 'Open Sans';

//Typo-scale
//Desktop
$d-h1:68px;
$d-h2:36px;
$d-h3:28px;
$d-body:16px;
$d-button:16px;
$d-voce-menu:16px;

//Mobile
$m-h1:36px;
$m-h2:28px;
$m-h3:24px;
$m-body:18px;
$m-button:18px;
$m-voce-menu:30px;

$outline:12px;

@mixin font-properties($family,$style,$weight){
  font :{
    family:$family;
    style:$style;
    weight:$weight;
  }
}

@mixin horizontal-alignment {
    text-align: center;
}

@mixin category-border ($cat){
  border-left: 0.5rem $cat solid;
}

h1{
  @include font-properties ($font-1, normal, bold);
  line-height: 1;
  color:black;
}

h2{
  @include font-properties ($font-1, normal, 800);
  text-transform: uppercase;
  text-align: center;
  color:$oxford-blue;
  margin-bottom: 6rem;
}

h3{
  @include font-properties ($font-1, normal, 700);
}

body{
  @include font-properties ($font-1, normal, normal);
}

.button{
  @include font-properties ($font-1, normal, bold);
}

.nav-link{
  @include font-properties ($font-2, normal, 600);
  text-transform: uppercase;
}

.categoria {
  @include font-properties ($font-1, normal, 600);
  font-size: $outline;
  padding-left: 0.25rem;
  color: white;
}

.button, button {
  background-color: $blaze-orange;
  color:white;
  @include font-properties ($font-1, normal, 700);
  padding: 12px;
  border-radius: 8px;
  border:none;
}

.button:hover, button:hover{
  background-color: #bf5200;
  color:white;
}
