  @import '_base';

  // ---------------------GENERAL---------------------

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  a.nav-link, a.button {
    text-decoration: none;
  }

  a.link{
    color:$cyber-yellow;
    font-weight: bold;
  }

  a.link:hover{
    color:$blaze-orange;
    font-weight: 900;
    cursor: pointer;
  }

  li {
    list-style: none;
  }

  .section{
    margin-top:5rem;
    padding-top: 8rem;
    padding-bottom: 4rem;
  }

  footer {
    padding: 0.5rem 0;
    background-color: $oxford-blue;
    @include horizontal-alignment;
    color: white;
  }

  .s2i{
    @include category-border(green)
  }

  .fda{
    @include category-border($USAFA-blue)
  }
  // ---------------------MENU---------------------
  .navbar {
    position: fixed;
    top:0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.1rem 0;
    width: 100%;
    background-color: white;
    z-index: 1;
  }

  .nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }

  .nav-item {
    margin-left: 5rem;
  }

  a.nav-link, a.nav-link:hover {
    color: black;
  }

  .active{
    background-color: $cyber-yellow;
    color:white;
  }

  .hamburger{
    display: none;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
  }

  #myBtn{
    display: none;
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    z-index: 99;
    border-radius: 3rem;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width:15vw;
    max-width: 80px;
    height:15vw;
    max-height:80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  // --------------------- HERO ---------------------

  .subtitle {
      margin-top: 1.5rem;
      margin-bottom: 4rem;
  }

  .hero-image{
    width:87.5%;
  }

  //--------------------- ABOUT ---------------------
  #about{
    background-color:$oxford-blue;
  }

  #about h2{
    color: $cyber-yellow;
  }

  .bio{
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    max-width:540px;
    height:fit-content;
    margin-bottom: 3rem;
  }

  .header-bio{
    font-weight: bolder;
  }

  .skills-section p, #about h3{
    color: white;
  }

  .skill-title{
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    @include horizontal-alignment;
  }

  .skills{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 4rem;
  }

  .skills p{
    width: 125px;
    @include horizontal-alignment;
  }

  .resume{
    margin-top:8rem;
    color:white;
    @include horizontal-alignment;
  }



  //--------------------- PORTFOLIO ---------------------

  .card-portfolio{
    width: 90%;
    height: 322px;
    background-color: #C4C4C4;
    border-radius: 1rem;
    position: relative;
    margin: 3rem auto;
    overflow: hidden;
  }

  .card-info{
    position: absolute;
    overflow-wrap: break-word;
  }

  .card-image{
    width: 100%;
    height:auto;
    min-height: 100%;
    object-fit: cover;
  }

.others-projects {
    @include horizontal-alignment;
    color: $USAFA-blue;
    font-size: larger;
    margin: 5rem 0;
    font-weight: 600;
}


  //--------------------- CONTACTS ---------------------

  #contacts{
    background-color:$alice-blue;
  }

  #contacts p{
    @include horizontal-alignment;
  }

  #contacts img{
    margin-right: 1rem;
  }

  .contacts-list{
    margin-top: 2rem;
    margin-bottom: 5rem;
  }

  /* Mobile Styles */
  @media only screen and (max-width: 768px) {
    h1{
      font-size: $m-h1
    }
    h2{
      font-size: $m-h2
    }
    h3{
      font-size: $m-h3;
    }
    body{
      font-size: $m-body
    }
    .button{
      font-size: $m-button
    }
    .nav-link{
      font-size: $m-voce-menu
    }

    .nav-menu {
     position: fixed;
     left: -100%;
     top: 4rem;
     flex-direction: column;
     background-color: #fff;
     width: 100%;
     height: 100vh;
     justify-content: center;
     @include horizontal-alignment;
     transition: 0.3s;
     padding-left: 0;
   }

   .nav-menu.active {
     left: 0;
   }

   .nav-item {
     margin: 2.5rem 0;
   }

   .hamburger {
     display: block;
     cursor: pointer;
   }

   .hamburger.active .bar:nth-child(2) {
     opacity: 0;
   }

   .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
   }

   .hamburger.active .bar:nth-child(3) {
     transform: translateY(-8px) rotate(-45deg);
   }

    #hero{
      @include horizontal-alignment;
    }

    .skills img, #contacts img{
      max-width: 56px;
      @include horizontal-alignment;
    }

    .portfolio-card-header{
      margin-bottom: 1rem;
    }

    .card-info {
      color: white;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0),
                                                  rgba(0, 0, 0, 0.4) 12%,
                                                  rgba(0, 0, 0, 0.7) 35%,
                                                  rgba(0, 0, 0, 0.8));
      top: 27%;
      width: 100%;
      height: 100%;
      padding: 8.25% 5.5% 5.5% 5.5%;
      padding-right: 5.5%;
      padding-top: 8.25%;
    }

    .project-title{
        margin: 1rem 0 0.5rem 0;
    }

  }

  /*Tablet Style*/
  @media only screen and (min-width: 769px) and (max-width:960px) {

      h1{
        font-size: $m-h1
      }
      h2{
        font-size: $m-h2
      }
      h3{
        font-size: $m-h3;
      }
      body{
        font-size: $m-body
      }
      .button{
        font-size: $m-button
      }

    .hero-image{
      float: right;
      position: relative;
      top: -20%;
    }

    .bio{
      margin-left: auto;
      margin-right: auto;
    }

    .skills img, #contacts img{
      max-width: 72px;
      @include horizontal-alignment;
    }

    .portfolio-card-header{
      margin-bottom: 2rem;
    }


    .card-info {
        color: white;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0),
                                                    rgba(0, 0, 0, 0.4) 22%,
                                                    rgba(0, 0, 0, 0.7) 60%,
                                                    rgba(0, 0, 0, 0.8));
        top: 50%;
        left: 27.5%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 72.5%;
        height: 100%;
        padding: 6% 5.5% 10% 25%;
    }

    .project-title{
      margin: 1.5rem 0 1rem 0;
    }
  }

  /* Desktop Styles */
  @media only screen and (min-width: 961px) {

    h1{
      font-size: $d-h1
    }
    h2{
      font-size: $d-h2
    }
    h3{
      font-size: $d-h3;
    }
    body{
      font-size: $d-body
    }

    .hero-image{
      position: relative;
      top: -20%;
      float: right;
    }
    .button{
      font-size: $d-button
    }
    .nav-link{
      font-size: $d-voce-menu
    }

    .skills img, #contacts img{
      max-width: 48px;
      max-height: 48px;
    }

    .languages{
      flex-direction: column;
      align-content: center;
    }

    .portfolio-card-header{
      margin-bottom: 2rem;
    }

    .card-info{
      color:white;
      background-image: linear-gradient(to right, rgba(0,0,0, 0),
                                                  rgba(0,0,0, 0.4) 12%,
                                                  rgba(0,0,0, 0.7) 30%,
                                                  rgba(0,0,0, 0.8));

      top:50%;
      left:42.5%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 57.5%;
      height: 100%;
      padding: 5.5% 5.5% 5.5% 17.5%;
    }

    .project-title {
      margin: 1.5rem 0 1rem 0;
    }
  }
